@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 12px;
        --font_size_title_big: 48px;
        --font_size_title: 42px;
        --font_size_title_small: 24px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*------------
        Header
    ------------*/
    header .all_site .btn,
    header .catalog .btn
    {
        padding: 0 12px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head,
    .block_head.small_m
    {
        margin-bottom: 32px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .info .title
    {
        font-size: 38px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        padding: 18px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        padding: 40px 10px 30px;
    }



    /*-----------
        Share
    -----------*/
    .share
    {
        padding: 10px 14px;
    }


    .share .label
    {
        width: 146px;
        max-width: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .phone .val
    {
        font-size: 32px;
    }



    /*----------------
        Mini modal
    ----------------*/
    .modal
    {
        padding: 40px 20px;
    }
}
