@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title_big: 48px;
        --font_size_title: 42px;
        --font_size_title_small: 32px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header .catalog
    {
        width: calc(100% - 454px);
    }


    header .catalog .btn
    {
        height: 48px;
    }


    header .catalog .mini_modal
    {
        overflow: hidden;
    }


    header .catalog .main
    {
        width: 100%;
    }


    header .catalog .main a:hover,
    header .catalog .main a.active
    {
        background: none;
    }


    header .catalog .sub
    {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 100%;

        display: flex !important;
        flex-direction: column;

        width: 100%;
        height: 100%;
        padding: 24px 12px 24px 24px;

        transition: transform .35s linear;

        opacity: 1 !important;
        border-radius: 10px;
        background: #fff;
    }


    header .catalog .sub.show
    {
        transform: translateX(-100%);
    }


    header .catalog .sub .back_btn
    {
        display: flex;
    }


    header .catalog .columns
    {
        overflow: auto;

        height: calc(100% - 48px);
        padding-right: 12px;

        overscroll-behavior-y: contain;
    }


    header .catalog .columns::-webkit-scrollbar
    {
        width: 4px;
        height: 4px;

        border-radius: 4px;
        background-color: transparent;
    }


    header .catalog .columns::-webkit-scrollbar-thumb
    {
        border-radius: 4px;
        background-color: #c22c47;
    }


    header .catalog .columns > * + *
    {
        margin-top: 12px;
    }


    header .catalog .item
    {
        padding-bottom: 12px;

        border: none;
    }


    header .catalog .item .name
    {
        font-size: 16px;
    }


    header .catalog .item .name a.sub_link
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    header .catalog .item .name a .icon
    {
        display: block;
    }

    header .catalog .item .name a .icon + .icon
    {
        display: none;

        color: rgba(36, 38, 44, .4);
    }

    header .catalog .item .name a.active .icon
    {
        display: none;
    }

    header .catalog .item .name a.active .icon + .icon
    {
        display: block;
    }


    header .catalog .item .items
    {
        font-size: 12px;
        line-height: 135%;

        display: none;

        padding-top: 18px;
        padding-left: 0;
    }


    header .catalog .item .items > * + *
    {
        margin-top: 12px;
    }


    header .catalog .item .items a
    {
        text-decoration: underline;

        text-decoration-thickness: 1px;
    }


    header .all_site
    {
        width: 220px;
    }

    header .all_site .btn
    {
        height: 48px;
    }


    header .all_site .mini_modal
    {
        right: 0;
        left: auto;
    }


    header .contacts,
    header .search,
    header .favorite_link
    {
        display: none;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .big
    {
        margin-bottom: 24px;
    }


    .text_block h2
    {
        font-size: 28px;

        margin-bottom: 20px;
    }

    .text_block h3
    {
        font-size: 20px;
    }


    .text_block ul li .big
    {
        font-size: 18px;
    }


    .text_block ul li
    {
        min-height: 26px;
        padding-left: 32px;

        background-size: 20px 20px;
    }


    .text_block ol li
    {
        min-height: 26px;
        padding-left: 32px;
    }

    .text_block ol li:before
    {
        font-size: 12px;
        line-height: 16px;

        top: 2px;

        width: 20px;
        height: 20px;
    }


    .text_block table td
    {
        padding: 11px 19px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .tabs
    {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 0;
    }


    .block_head .desc
    {
        line-height: 21px;
    }


    .block_head .title.mob_small
    {
        font-size: var(--font_size_title_small);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .head .title
    {
        font-size: 64px;
    }



    /*------------------
        Catalog grid
    ------------------*/
    .catalog_grid
    {
        padding-bottom: 0;
    }


    .catalog_grid .row > *
    {
        width: calc(50% - 16px);
    }


    .catalog_grid .sale_link
    {
        height: 220px;
    }


    .catalog_grid .sale_link .title
    {
        font-size: 26px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head .title
    {
        font-size: 48px;
    }


    .about_info .data
    {
        width: calc(100% - 304px);
    }


    .about_info .boss
    {
        height: 600px;
    }


    .about_info .boss .info
    {
        padding: 28px;
    }


    .about_info .col_right
    {
        width: 280px;
    }


    .about_info .text_block
    {
        line-height: 22px;
    }


    .about_info .feedback_btn
    {
        font-size: 18px;
        line-height: 24px;

        width: 200px;
        height: 200px;
        padding: 20px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .swiper-horizontal > .swiper-pagination-bullets,
    .projects .swiper-pagination-bullets.swiper-pagination-horizontal,
    .projects .swiper-pagination-custom,
    .projects .swiper-pagination-fraction
    {
        right: 0;
        bottom: -24px;

        justify-content: center;

        width: 100%;
        margin-bottom: 0;
    }


    .projects .project .name
    {
        font-size: 26px;

        width: 200px;
    }


    .projects .project .logo
    {
        width: 120px;
        height: 60px;
    }


    .projects .project .btn
    {
        display: none;
    }



    /*---------------------
        Official dealer
    ---------------------*/
    .official_dealer .data
    {
        padding: 48px 0;
    }


    .official_dealer .col_left
    {
        width: 100%;
    }


    .official_dealer .info
    {
        width: 100%;
        margin-top: 40px;
        padding: 24px;
    }



    /*--------------------
        Channels block
    --------------------*/
    .channels_block .col_left
    {
        width: 340px;
    }


    .channels_block .video_link
    {
        width: calc(100% - 364px);
        height: 488px;
    }



    /*--------------
        Get free
    --------------*/
    .get_free .row
    {
        width: calc(100% + 24px);
        margin-right: -12px;
        margin-bottom: -8px;
        margin-left: 0;
        margin-left: -12px;
    }


    .get_free .row > *
    {
        width: 100%;
        margin-bottom: 8px;
        margin-left: 0;

        gap: 8px;
    }


    .get_free .item
    {
        height: 310px;
    }


    .get_free .callback_btn
    {
        height: 60px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .cont
    {
        padding: 0 8px !important;
    }


    .work_together .data
    {
        padding: 40px 16px;
    }


    .work_together .info .title
    {
        font-size: 50px;
    }


    .work_together .info .desc
    {
        font-size: 18px;

        margin-top: 28px;
    }


    .work_together .item .title
    {
        font-size: 20px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        min-height: 400px;
    }


    .articles .article .name
    {
        font-size: 20px;
    }


    .articles .article .date,
    .articles .article .btn
    {
        margin-top: 20px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        min-height: 440px;
        padding: 40px 28px 24px;
    }


    .article_info .head .date
    {
        font-size: 13px;
    }


    .article_info .head .title
    {
        font-size: var(--font_size_title_small);
    }


    .article_info .data
    {
        padding: 40px 24px;
    }



    /*----------
        News
    ----------*/
    .news .row > *
    {
        width: calc(50% - 24px);
    }


    .news .list .item .name
    {
        font-size: 15px;
    }


    .news .swiper-slide
    {
        width: 340px;
    }


    .news .swiper-button-next,
    .news .swiper-button-prev
    {
        display: none;
    }



    /*--------------------
        News item info
    --------------------*/
    .news_item_info
    {
        padding: 24px;
    }


    .news_item_info .title
    {
        margin-bottom: 32px;
    }



    /*-------------------------
        Photogallery brands
    -------------------------*/
    .photogallery_brands .row > *
    {
        width: calc(33.333% - 20px);
    }



    /*------------------
        Photogallery
    ------------------*/
    .content .photogallery .grid > *,
    .photogallery .content .grid > *
    {
        width: calc(33.333% - 20px);
    }



    /*------------------------
        Categories catalog
    ------------------------*/
    .categories_catalog .row > *
    {
        width: calc(50% - 40px);
    }



    /*---------------------
        Categories grid
    ---------------------*/
    .categories_grid .row > *
    {
        width: calc(50% - 20px);
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 24px;
    }


    .category_info .sub_categories
    {
        margin-bottom: 24px;
    }


    .category_info .sub_categories .row
    {
        gap: 8px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        margin-bottom: 24px;
    }


    .products_head .reset_filter_btn
    {
        display: none;
    }


    .products_head .count
    {
        margin-left: 20px;
    }



    /*--------------
        Products
    --------------*/
    .products .grid
    {
        --count: 2;
    }


    .products .grid > *
    {
        width: calc(50% - 16px);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .phone
    {
        margin-bottom: 32px;
    }


    .contacts_info .email .val
    {
        font-size: 18px;
    }


    .contacts_info .email .icon,
    .contacts_info .socials a
    {
        width: 56px;
        height: 56px;
    }


    .contacts_info .email .icon svg
    {
        width: 28px;
        height: 28px;
    }


    .contacts_info .about .title
    {
        font-size: 26px;

        margin-bottom: 20px;
    }


    .contacts_info .about .text_block
    {
        line-height: 23px;
    }


    .contacts_info .about,
    .contacts_info .tab_content .col_right
    {
        width: 100%;
    }



    /*------------
        brands
    ------------*/
    .brands .row > *
    {
        width: calc(33.333% - 20px);
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        margin-bottom: 24px;
    }


    .product_info .product_name
    {
        font-size: 26px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .tabs_wrap
    {
        display: block;
        overflow: auto;

        width: calc(100% + 40px);
        margin: 0 -20px 32px;
        padding: 0 20px;

        white-space: nowrap;

        scroll-padding: 0 20px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .product_data .tabs_wrap::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .product_data .tabs_wrap::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .product_data .tabs
    {
        width: 923px;
    }


    .product_data .tab_content.active
    {
        width: 100%;
        max-width: 100%;
    }


    .product_data .block_title
    {
        font-size: 24px;
    }


    .product_data .channels .pre_title
    {
        font-size: 16px;
    }


    .product_data .channels .title
    {
        font-size: 26px;
    }


    .product_data .gift_banner .title
    {
        font-size: 26px;
    }


    .product_data .manager
    {
        width: 335px;
        margin: 40px auto 0;
    }



    /*---------------
        Buy steps
    ---------------*/
    .buy_steps .row > *
    {
        width: calc(50% - 24px);
    }


    .buy_steps .ya_widget
    {
        margin-top: 0;
    }



    /*----------------
        About page
    ----------------*/
    .about_page
    {
        margin-bottom: 310px;
    }



    .about_page .bg_img
    {
        position: relative;
        top: 0;

        width: 100%;
        max-width: 100%;
    }


    .about_page .head
    {
        margin-bottom: 40px;
        padding-top: 12px;
    }


    .about_page .head .data
    {
        width: 100%;
    }


    .about_page .head .title
    {
        font-size: 52px;
    }


    .about_page .head .feedback_btn
    {
        font-size: 18px;
        line-height: 24px;

        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        margin: 120px auto 0;
    }



    .about_page .commercial_developers
    {
        margin-bottom: 60px;
    }


    .about_page .commercial_developers .item
    {
        padding: 24px;
    }


    .about_page .commercial_developers .item .name
    {
        font-size: 24px;
    }


    .about_page .commercial_developers .item .desc
    {
        line-height: 21px;

        margin-top: 24px;
    }


    .about_page .commercial_developers .line
    {
        margin-top: 60px;
    }



    .about_page .private_buyers
    {
        margin-bottom: 40px;
    }


    .about_page .private_buyers .col_left
    {
        order: 2;

        width: 100%;
        height: 100vw;
        min-height: 520px;
        margin-top: 40px;
        padding: 40px;
    }


    .about_page .private_buyers .img
    {
        object-position: 50% 0;
    }


    .about_page .private_buyers .col_right
    {
        width: 100%;
    }


    .about_page .private_buyers .item + .item
    {
        margin-top: 24px;
    }


    .about_page .private_buyers .item .name
    {
        font-size: 20px;
    }



    .about_page .images
    {
        margin-bottom: 80px;
    }



    .about_page .mission .cont
    {
        align-content: center;
        align-items: center;
        flex-direction: column;

        gap: 0;
    }


    .about_page .mission .data
    {
        margin: 0 auto -68px;
    }


    .about_page .mission .image
    {
        margin: 0 auto;
    }



    .about_page .history
    {
        margin-bottom: 100px;
    }


    .about_page .history .sep
    {
        width: 2px;
        height: 68px;
        margin-top: 32px;
        margin-bottom: -12px;
    }


    .about_page .history .year
    {
        font-size: 172px;
    }


    .about_page .history .item.gold .year:before
    {
        margin-right: 12px;

        transform: scale(.75);
    }


    .about_page .history .item.gold .year:after
    {
        margin-left: 12px;

        transform: scale(-1, 1) scale(.75);
    }


    .about_page .history .desc
    {
        font-size: 18px;

        width: 360px;
        margin-top: -8px;
    }



    .about_page .bottom
    {
        margin-bottom: -220px;
    }



    .about_page .bottom .channels .title
    {
        font-size: var(--font_size_title_small);
        line-height: 100%;
    }


    .about_page .bottom .channels .links
    {
        margin-top: 40px;

        gap: 8px;
    }

    .about_page .bottom .channels .links a
    {
        width: 94px;
        padding: 8px;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .swiper-button-next,
    .benefits .swiper-button-prev
    {
        display: none;
    }


    .benefits .item .name
    {
        font-size: 20px;
    }


    .benefits .item .number
    {
        font-size: 22px;
        line-height: 60px;

        width: 60px;
        height: 60px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .row > *
    {
        width: calc(20% - 12px);
    }


    .clients .item .logo
    {
        height: 130px;
    }



    /*-------------
        Letters
    -------------*/
    .letters .grid
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px;
        padding: 0 24px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .letters .grid::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .letters .grid::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .letters .grid > *
    {
        display: inline-block;

        width: 208px;
        margin: 0;

        vertical-align: top;
    }


    .letters .grid > * + *
    {
        margin-left: 8px;
    }


    .letters .block_head .desc
    {
        width: 100%;
        margin-top: 20px;
    }


    .letters .item .thumb
    {
        height: 280px;
    }


    .letters .item .icon
    {
        width: 64px;
        height: 64px;
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        padding: 68px 0 32px;
    }


    footer .data
    {
        padding: 0 0 24px;
    }



    footer .logo
    {
        width: 100%;
    }


    footer .logo img
    {
        height: 60px;
        margin: 0 auto;
    }


    footer .all_country
    {
        margin-top: 24px;
        margin-right: auto;
        margin-left: auto;
    }


    footer .phone
    {
        width: 100%;
        margin-top: 24px;

        text-align: center;
    }


    footer .line
    {
        display: none;
    }


    footer .info
    {
        order: 2;

        width: 100%;
        margin-top: 32px;

        text-align: center;
    }


    footer .info .logos
    {
        align-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }


    footer .menu,
    footer .links,
    footer .work_time
    {
        display: none;
    }


    footer .contacts
    {
        order: 1;

        width: 100%;
    }


    footer .socials
    {
        justify-content: center;
    }


    footer .copyright
    {
        width: 100%;

        text-align: center;
    }


    footer .privacy_policy_link
    {
        width: 100%;
        margin-top: 20px;

        text-align: center;
    }


    footer .creator
    {
        margin: 32px auto 0;
    }
}
