@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width_small: 100%;
        --sidebar_width_middle2: 100%;
        --sidebar_width_middle: 100%;
        --sidebar_width: 100%;
        --font_size: 15px;
        --font_size_title_big: 50px;
        --font_size_title: 42px;
        --font_size_title_small: 36px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    .block
    {
        margin-bottom: 120px;
    }

    .block.medium_m
    {
        margin-bottom: 100px;
    }

    .block.small_m,
    .block.small_m2,
    .block.small_m3
    {
        margin-bottom: 80px;
    }


    .block_head.pad_r
    {
        padding: 0;
    }



    .content_flex .content,
    .content_flex .content.small,
    .content_flex .content.big,
    .content_flex .content.middle,
    .content_flex .content.middle2
    {
        width: 100%;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 48px;
    }



    /*------------
        Header
    ------------*/
    header .location,
    header .links
    {
        display: none;
    }


    header .catalog
    {
        width: 220px;
    }


    header .catalog .mini_modal
    {
        left: -214px;

        width: calc(100vw - 48px);
    }


    header .catalog .main
    {
        width: 340px;
    }


    header .catalog .sub
    {
        width: calc(100% - 340px);
        padding: 0 0 0 40px;
    }


    header .catalog .columns
    {
        column-gap: 40px;
    }


    header .all_site .links
    {
        display: flex;
    }


    header .contacts
    {
        margin-right: auto;
    }


    header .search .btn .icon,
    header .favorite_link .icon
    {
        width: 28px;
        height: 28px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        margin-bottom: 40px;
    }


    .content + aside.middle
    {
        margin-top: 80px;
        margin-bottom: 0;
    }


    aside.mob_hide
    {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head,
    .block_head.small_m
    {
        margin-bottom: 48px;
    }


    .block_head .title
    {
        line-height: calc(100% + 8px);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: calc(100% + 8px);
    }


    .text_block .big
    {
        font-size: 18px;
        line-height: calc(100% + 8px);

        margin-bottom: 32px;
    }


    .text_block > *,
    .text_block ul.big_gap li > *
    {
        margin-bottom: 16px;
    }


    .text_block h2
    {
        font-size: 30px;
        line-height: calc(100% + 8px);

        margin-bottom: 24px;
    }

    .text_block h3
    {
        margin-top: 32px;
    }


    .text_block img
    {
        margin-top: 32px;
        margin-bottom: 32px;
    }


    .text_block ul,
    .text_block ol
    {
        margin-top: 32px;
        margin-bottom: 32px;
    }


    .text_block ol
    {
        gap: 16px;
    }


    .text_block .table_wrap
    {
        margin-top: 32px;
        margin-bottom: 32px;
    }



    /*--------------
        Get free
    --------------*/
    .get_free .item
    {
        height: 300px;
        padding: 24px;
    }


    .get_free .item .title
    {
        font-size: 26px;

        width: 280px;
    }


    .get_free .item .desc
    {
        line-height: 23px;

        width: 280px;
        padding-top: 32px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .data
    {
        padding: 60px 24px;
    }


    .work_together .info
    {
        width: 100%;
        margin-bottom: 48px;
    }


    .work_together .info .title
    {
        font-size: 56px;
    }


    .work_together .info .desc
    {
        font-size: 16px;
        line-height: calc(100% + 8px);

        margin-top: 24px;
    }


    .work_together .items
    {
        width: 100%;
    }


    .work_together .item
    {
        height: 340px;
    }


    .work_together .item .icon
    {
        width: 60px;
        height: 60px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        min-height: 480px;
        padding: 60px 60px 40px;
    }


    .article_info .data
    {
        padding: 40px 60px 60px;
    }



    /*----------
        News
    ----------*/
    .news .row
    {
        margin-bottom: -24px;
    }


    .news .row > *
    {
        margin-bottom: 24px;
    }


    .news .list
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        margin-bottom: -24px;
        margin-left: -24px;

        gap: 0;
    }


    .news .list > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .news .item .info
    {
        padding: 20px 14px;
    }



    /*------------------
        Compare info
    ------------------*/
    .compare_info aside
    {
        margin-bottom: 0;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .data
    {
        width: 100%;
        padding-right: 0;
    }


    .cart_info .data:after
    {
        display: none;
    }


    .cart_info .checkout
    {
        width: 100%;
        margin-top: 80px;
    }



    /*--------------
        Checkout
    --------------*/
    .checkout .title
    {
        font-size: 28px;
    }


    .checkout .desc
    {
        line-height: 23px;

        margin-top: 24px;
    }


    .checkout .form
    {
        margin-top: 32px;
    }



    /*------------------------
        Categories catalog
    ------------------------*/
    .categories_catalog .row > *
    {
        width: calc(33.333% - 40px);
    }


    .categories_catalog .category .main
    {
        font-size: 20px;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-slide
    {
        width: 335px;

        pointer-events: auto;

        opacity: 1;
    }


    .products .swiper-button-next,
    .products .swiper-button-prev
    {
        display: none;
    }


    .products .grid
    {
        margin-bottom: -16px;
        margin-left: -16px;

        --count: 3;
    }


    .products .grid > *
    {
        width: calc(33.333% - 16px);
        margin-bottom: 16px;
        margin-left: 16px;
    }


    .products .product
    {
        padding: 3px 3px 17px;
    }


    .products .product .info
    {
        padding: 16px 12px 0;
    }


    .products .product .btns
    {
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
    }


    .products .product .link
    {
        font-size: 13px;

        width: 140px;
        padding: 0 16px;
    }


    .products .product .buy_btn
    {
        font-size: 13px;

        width: calc(100% - 148px);
        padding: 0 16px;
    }


    .products .product .thumb
    {
        height: 160px;
    }

    .products .product .btns
    {
        display: flex;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        margin-bottom: 32px;
    }



    /*------------
        Filter
    ------------*/
    #filter
    {
        width: 375px;
    }


    #filter .head
    {
        height: 100px;
        padding: 20px 40px;
    }


    #filter .head .title
    {
        font-size: 28px;
    }


    #filter .scroll_wrap
    {
        height: calc(100% - 100px);
        padding: 20px;
    }


    #filter .scroll
    {
        padding: 0 20px 132px;
    }


    #filter .form .submit
    {
        padding: 20px 40px;
    }


    #filter .form .reset_filter_btn
    {
        margin-top: 16px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .phone
    {
        width: 100%;
        margin-bottom: 40px;
    }


    .contacts_info .about
    {
        padding: 24px;
    }


    .contacts_info .about .title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }


    .contacts_info .city_info,
    .contacts_info .tab_content .col_right > .work_time
    {
        padding: 24px;
    }


    .contacts_info .address .val,
    .contacts_info .work_time .val
    {
        font-size: 18px;
    }


    .contacts_info .feedback_btn
    {
        padding: 24px;
    }


    .contacts_info .images .swiper-button-prev
    {
        left: 20px;
    }

    .contacts_info .images .swiper-button-next
    {
        right: 20px;
    }



    /*--------------------
        Requisite info
    --------------------*/
    .requisite_info .head
    {
        height: 100px;
    }


    .requisite_info .head .title
    {
        font-size: 28px;
    }


    .requisite_info .scroll_wrap
    {
        height: calc(100% - 100px);
        padding: 20px 20px 20px 0;
    }



    /*------------
        brands
    ------------*/
    .brands .row > *
    {
        width: calc(25% - 20px);
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info .head .info .label
    {
        font-size: 22px;

        margin-bottom: 8px;
    }


    .brand_info .main_data
    {
        padding-bottom: 60px;
    }


    .brand_info .head .info,
    .brand_info .main_data .data
    {
        width: 100%;
    }

    .brand_info .head .col_right
    {
        margin-top: 20px;
    }


    .brand_info .files
    {
        margin-top: 60px;
    }



    /*------------
        Footer
    ------------*/
    footer .bottom
    {
        padding: 24px 0;
    }


    footer .all_country
    {
        margin-left: 80px;
        padding: 8px 20px;
    }


    footer .phone
    {
        margin-left: auto;
    }


    footer .phone .val
    {
        font-size: 44px;
    }


    footer .links + .links
    {
        display: none;
    }


    footer .contacts
    {
        gap: 24px;
    }


    footer .socials a
    {
        width: 56px;
        height: 56px;
    }


    footer .copyright
    {
        width: auto;
    }


    footer .privacy_policy_link
    {
        margin-left: auto;
    }


    footer .creator
    {
        width: auto;
    }
}
