@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont.big
    {
        padding: 0 24px;
    }



    /*------------
        Header
    ------------*/
    header .catalog
    {
        width: 260px;
        margin-left: 24px;
    }


    header .catalog .btn
    {
        height: 56px;
        padding: 0 24px;
    }


    header .catalog .mini_modal
    {
        width: 1168px;
        margin-top: 12px;
        padding: 24px;
    }


    header .catalog .main
    {
        width: 380px;
    }


    header .catalog .sub
    {
        width: calc(100% - 380px);
        padding: 0 0 0 48px;
    }


    header .all_site
    {
        width: 220px;
    }


    header .all_site .btn
    {
        height: 56px;
        padding: 0 24px;
    }


    header .all_site .mini_modal
    {
        width: 400px;
        margin-top: 12px;
        padding: 24px;
    }


    header .all_site .links
    {
        font-size: 30px;

        padding-top: 12px;
    }


    header .all_site .phone
    {
        margin-top: 12px;
        padding-top: 28px;
    }


    header .all_site .phone a
    {
        font-size: 36px;
    }


    header .all_site .socials a
    {
        width: 56px;
        height: 56px;
    }


    header .all_site .feedback_btn
    {
        padding: 24px;
    }


    header .location
    {
        margin-left: auto;
    }


    header .contacts
    {
        margin-left: 32px;
    }


    header .search
    {
        margin-left: 28px;
    }


    header .favorite_link
    {
        margin-left: 24px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section:after
    {
        width: 664px;
    }


    .first_section .img
    {
        right: auto;
        left: 0;

        width: calc(100% - 640px);
    }


    .first_section .head
    {
        width: calc(100% - 640px);
        padding-right: 180px;
        padding-bottom: 80px;
    }


    .first_section .head .title
    {
        font-size: 100px;
        line-height: 100%;
    }


    .first_section .bottom
    {
        width: calc(100% - 640px);
        padding: 180px 48px 48px 0;
    }


    .first_section .data
    {
        padding-top: 121px;
    }


    .first_section .data .sticky
    {
        width: 664px;
    }


    .first_section .data .search .tips
    {
        margin-top: 28px;

        gap: 8px;
    }


    .first_section .data .image
    {
        width: 560px;
        height: 440px;
    }


    .first_section .data .desc
    {
        font-size: 18px;
        line-height: 28px;

        width: 428px;
    }



    /*------------------
        Catalog grid
    ------------------*/
    .catalog_grid .category
    {
        height: 560px;
        padding: 32px;
    }


    .catalog_grid .category .name
    {
        font-size: 30px;
    }


    .catalog_grid .category .thumb
    {
        height: 280px;
    }


    .catalog_grid .category .count
    {
        bottom: 42px;
        left: 32px;
    }


    .catalog_grid .category .btn
    {
        margin-top: 48px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head
    {
        width: 420px;
        padding-top: 48px;
    }


    .about_info .block_head .pre_title
    {
        margin-bottom: 40px;
    }


    .about_info .block_head .title
    {
        font-size: 68px;
    }


    .about_info .block_head .desc
    {
        font-size: 20px;
        line-height: calc(100% + 8px);

        margin-top: 48px;
    }


    .about_info .col_right
    {
        width: 360px;
    }


    .about_info .data
    {
        width: calc(100% - 860px);
    }


    .about_info .boss
    {
        height: 720px;
    }


    .about_info .boss .info
    {
        padding: 40px;
    }


    .about_info .boss .signature
    {
        top: 152px;
        left: 40px;
    }


    .about_info .link a
    {
        height: 68px;
    }


    .about_info .feedback_btn
    {
        font-size: 22px;
        line-height: 28px;

        width: 240px;
        height: 240px;
        padding: 24px;
    }



    /*--------------------
        Channels block
    --------------------*/
    .channels_block .col_left
    {
        width: 420px;
        padding-top: 28px;
    }


    .channels_block .video_link
    {
        width: calc(100% - 860px);
        height: 720px;
    }


    .channels_block .col_right
    {
        width: 360px;
    }


    .channels_block .col_right .block_head .title.big
    {
        font-size: var(--font_size_title);
    }



    /*--------------
        Get free
    --------------*/
    .get_free .item
    {
        height: 448px;
        padding: 40px;
    }


    .get_free .item .title
    {
        font-size: 32px;

        width: 320px;
    }


    .get_free .callback_btn
    {
        height: 56px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .data
    {
        padding: 80px 24px;
    }


    .work_together .info .title
    {
        font-size: 76px;
    }


    .work_together .items
    {
        width: 820px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .views
    {
        display: none;
    }


    .products .grid
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }


    .products .grid > *
    {
        width: calc(25% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        padding-top: 80px;
    }


    footer .all_country
    {
        margin-left: 120px;
    }


    footer .phone
    {
        margin-left: 160px;
    }


    footer .menu
    {
        font-size: 20px;

        width: auto;
    }


    footer .links
    {
        width: auto;
    }


    footer .contacts
    {
        width: 188px;
    }


    footer .privacy_policy_link
    {
        margin-left: 88px;
    }


    footer .creator
    {
        width: 548px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 48px;
    }


    .modal_desc
    {
        margin-top: 24px;
    }


    .modal .form
    {
        margin-top: 32px;
    }
}
