@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont.big
    {
        padding: 0 24px;
    }



    /*------------
        Header
    ------------*/
    header .catalog
    {
        width: 260px;
        margin-left: 24px;
    }


    header .catalog .btn
    {
        height: 56px;
        padding: 0 24px;
    }


    header .catalog .mini_modal
    {
        width: 1168px;
        margin-top: 12px;
        padding: 24px;
    }


    header .catalog .main
    {
        width: 380px;
    }


    header .catalog .sub
    {
        width: calc(100% - 380px);
        padding: 0 0 0 48px;
    }


    header .all_site
    {
        width: 220px;
    }


    header .all_site .btn
    {
        height: 56px;
        padding: 0 24px;
    }


    header .all_site .mini_modal
    {
        width: 400px;
        margin-top: 12px;
        padding: 24px;
    }


    header .all_site .links
    {
        font-size: 30px;

        padding-top: 12px;
    }


    header .all_site .phone
    {
        margin-top: 12px;
        padding-top: 28px;
    }


    header .all_site .phone a
    {
        font-size: 36px;
    }


    header .all_site .socials a
    {
        width: 56px;
        height: 56px;
    }


    header .all_site .feedback_btn
    {
        padding: 24px;
    }


    header .location
    {
        margin-left: auto;
    }


    header .contacts
    {
        margin-left: 32px;
    }


    header .search
    {
        margin-left: 28px;
    }


    header .favorite_link
    {
        margin-left: 24px;
    }



    /*--------------
        Get free
    --------------*/
    .get_free .item
    {
        height: 448px;
        padding: 40px;
    }


    .get_free .item .title
    {
        font-size: 32px;

        width: 320px;
    }


    .get_free .callback_btn
    {
        height: 56px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .data
    {
        padding: 80px 24px;
    }


    .work_together .info .title
    {
        font-size: 76px;
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        padding-top: 80px;
    }


    footer .all_country
    {
        margin-left: 120px;
    }


    footer .phone
    {
        margin-left: 160px;
    }


    footer .menu
    {
        font-size: 20px;

        width: auto;
    }


    footer .links
    {
        width: auto;
    }


    footer .contacts
    {
        width: 188px;
    }


    footer .privacy_policy_link
    {
        margin-left: 88px;
    }


    footer .creator
    {
        width: 548px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 48px;
    }


    .modal_desc
    {
        margin-top: 24px;
    }


    .modal .form
    {
        margin-top: 32px;
    }
}
