@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title_big: 48px;
        --font_size_title: 42px;
        --font_size_title_small: 32px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    header .catalog
    {
        width: calc(100% - 454px);
    }


    header .catalog .btn
    {
        height: 48px;
    }


    header .catalog .mini_modal
    {
        overflow: hidden;
    }


    header .catalog .main
    {
        width: 100%;
    }


    header .catalog .main a:hover,
    header .catalog .main a.active
    {
        background: none;
    }


    header .catalog .sub
    {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 100%;

        display: flex !important;
        flex-direction: column;

        width: 100%;
        height: 100%;
        padding: 24px 12px 24px 24px;

        transition: transform .35s linear;

        opacity: 1 !important;
        border-radius: 10px;
        background: #fff;
    }


    header .catalog .sub.show
    {
        transform: translateX(-100%);
    }


    header .catalog .sub .back_btn
    {
        display: flex;
    }


    header .catalog .columns
    {
        overflow: auto;

        height: calc(100% - 48px);
        padding-right: 12px;

        overscroll-behavior-y: contain;
    }


    header .catalog .columns::-webkit-scrollbar
    {
        width: 4px;
        height: 4px;

        border-radius: 4px;
        background-color: transparent;
    }


    header .catalog .columns::-webkit-scrollbar-thumb
    {
        border-radius: 4px;
        background-color: #c22c47;
    }


    header .catalog .columns > * + *
    {
        margin-top: 12px;
    }


    header .catalog .item
    {
        padding-bottom: 12px;

        border: none;
    }


    header .catalog .item .name
    {
        font-size: 16px;
    }


    header .catalog .item .name a.sub_link
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    header .catalog .item .name a .icon
    {
        display: block;
    }

    header .catalog .item .name a .icon + .icon
    {
        display: none;

        color: rgba(36, 38, 44, .4);
    }

    header .catalog .item .name a.active .icon
    {
        display: none;
    }

    header .catalog .item .name a.active .icon + .icon
    {
        display: block;
    }


    header .catalog .item .items
    {
        font-size: 12px;
        line-height: 135%;

        display: none;

        padding-top: 18px;
        padding-left: 0;
    }


    header .catalog .item .items > * + *
    {
        margin-top: 12px;
    }


    header .catalog .item .items a
    {
        text-decoration: underline;

        text-decoration-thickness: 1px;
    }


    header .all_site
    {
        width: 220px;
    }

    header .all_site .btn
    {
        height: 48px;
    }


    header .all_site .mini_modal
    {
        right: 0;
        left: auto;
    }


    header .contacts,
    header .search,
    header .favorite_link
    {
        display: none;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .big
    {
        margin-bottom: 24px;
    }


    .text_block h2
    {
        font-size: 28px;

        margin-bottom: 20px;
    }

    .text_block h3
    {
        font-size: 20px;
    }


    .text_block ul li .big
    {
        font-size: 18px;
    }


    .text_block ul li
    {
        min-height: 26px;
        padding-left: 32px;

        background-size: 20px 20px;
    }


    .text_block ol li
    {
        min-height: 26px;
        padding-left: 32px;
    }

    .text_block ol li:before
    {
        font-size: 12px;
        line-height: 16px;

        top: 2px;

        width: 20px;
        height: 20px;
    }


    .text_block table td
    {
        padding: 11px 19px;
    }



    /*--------------
        Get free
    --------------*/
    .get_free .row
    {
        width: calc(100% + 24px);
        margin-right: -12px;
        margin-bottom: -8px;
        margin-left: 0;
        margin-left: -12px;
    }


    .get_free .row > *
    {
        width: 100%;
        margin-bottom: 8px;
        margin-left: 0;

        gap: 8px;
    }


    .get_free .item
    {
        height: 310px;
    }


    .get_free .callback_btn
    {
        height: 60px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .cont
    {
        padding: 0 8px !important;
    }


    .work_together .data
    {
        padding: 40px 16px;
    }


    .work_together .info .title
    {
        font-size: 50px;
    }


    .work_together .info .desc
    {
        font-size: 18px;

        margin-top: 28px;
    }


    .work_together .item .title
    {
        font-size: 20px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        min-height: 400px;
    }


    .articles .article .name
    {
        font-size: 20px;
    }


    .articles .article .date,
    .articles .article .btn
    {
        margin-top: 20px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        min-height: 440px;
        padding: 40px 28px 24px;
    }


    .article_info .head .date
    {
        font-size: 13px;
    }


    .article_info .head .title
    {
        font-size: var(--font_size_title_small);
    }


    .article_info .data
    {
        padding: 40px 24px;
    }



    /*----------
        News
    ----------*/
    .news .row > *
    {
        width: calc(50% - 24px);
    }


    .news .list .item .name
    {
        font-size: 15px;
    }



    /*--------------------
        News item info
    --------------------*/
    .news_item_info
    {
        padding: 24px;
    }


    .news_item_info .title
    {
        margin-bottom: 32px;
    }



    /*-------------------------
        Photogallery brands
    -------------------------*/
    .photogallery_brands .row > *
    {
        width: calc(33.333% - 20px);
    }



    /*------------------
        Photogallery
    ------------------*/
    .content .photogallery .grid > *,
    .photogallery .content .grid > *
    {
        width: calc(33.333% - 20px);
    }



    /*------------------------
        Categories catalog
    ------------------------*/
    .categories_catalog .row > *
    {
        width: calc(50% - 40px);
    }



    /*---------------------
        Categories grid
    ---------------------*/
    .categories_grid .row > *
    {
        width: calc(50% - 20px);
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 24px;
    }


    .category_info .sub_categories
    {
        margin-bottom: 24px;
    }


    .category_info .sub_categories .row
    {
        gap: 8px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head {
        margin-bottom: 24px;
    }


    .products_head .reset_filter_btn
    {
        display: none;
    }


    .products_head .count
    {
        margin-left: 20px;
    }



    /*--------------
        Products
    --------------*/
    .products .grid {
        --count: 2;
    }


    .products .grid > *
    {
        width: calc(50% - 16px);
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        padding: 68px 0 32px;
    }


    footer .data
    {
        padding: 0 0 24px;
    }



    footer .logo
    {
        width: 100%;
    }


    footer .logo img
    {
        height: 60px;
        margin: 0 auto;
    }


    footer .all_country
    {
        margin-top: 24px;
        margin-right: auto;
        margin-left: auto;
    }


    footer .phone
    {
        width: 100%;
        margin-top: 24px;

        text-align: center;
    }


    footer .line
    {
        display: none;
    }


    footer .info
    {
        order: 2;

        width: 100%;
        margin-top: 32px;

        text-align: center;
    }


    footer .info .logos
    {
        align-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }


    footer .menu,
    footer .links,
    footer .work_time
    {
        display: none;
    }


    footer .contacts
    {
        order: 1;

        width: 100%;
    }


    footer .socials
    {
        justify-content: center;
    }


    footer .copyright
    {
        width: 100%;

        text-align: center;
    }


    footer .privacy_policy_link
    {
        width: 100%;
        margin-top: 20px;

        text-align: center;
    }


    footer .creator
    {
        margin: 32px auto 0;
    }
}
