@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 12px;
        --font_size_title_big: 42px;
        --font_size_title: 42px;
        --font_size_title_middle: 34px;
        --font_size_title_small: 24px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs .btn
    {
        height: 44px;
        padding: 8px 42px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 16px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination a,
    .pagination .sep
    {
        font-size: 12px;
    }



    /*------------
        Header
    ------------*/
    header .all_site .btn,
    header .catalog .btn
    {
        padding: 0 12px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head,
    .block_head.small_m
    {
        margin-bottom: 32px;
    }


    .block_head .title.mob_middle
    {
        font-size: var(--font_size_title_middle);
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .head .title
    {
        font-size: 48px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head .title
    {
        font-size: 40px;
    }


    .about_info .boss
    {
        height: 440px;
    }


    .about_info .boss .info
    {
        padding: 24px;
    }


    .about_info .boss .name
    {
        font-size: 24px;
    }


    .about_info .boss .post
    {
        line-height: 18px;

        width: 160px;
        margin-top: 12px;
    }


    .about_info .text_block
    {
        line-height: 20px;
    }


    .about_info .feedback_btn
    {
        margin-top: -16px;
    }



    /*---------------------
        Official dealer
    ---------------------*/
    .official_dealer .tabs .btn
    {
        min-width: 142px;
    }


    .official_dealer .logos .row > *
    {
        width: calc(33.333% - 8px);
    }


    .official_dealer .logos .item
    {
        height: 60px;
        padding: 8px;
    }


    .official_dealer .col_right
    {
        margin-top: 32px;
        padding: 20px;
    }


    .official_dealer .logo
    {
        height: 152px;
        margin-bottom: 20px;
    }


    .official_dealer .text_block
    {
        line-height: 20px;
    }


    .official_dealer .link
    {
        margin-top: 20px;
    }


    .official_dealer .link a
    {
        width: 100%;
        height: 56px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .info .title
    {
        font-size: 38px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        padding: 18px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        padding: 40px 10px 30px;
    }



    /*-----------
        Share
    -----------*/
    .share
    {
        padding: 10px 14px;
    }


    .share .label
    {
        width: 146px;
        max-width: 100%;
    }



    /*----------
        News
    ----------*/
    .news .item .date
    {
        font-size: 12px;
    }


    .news .list .item .name
    {
        font-size: 13px;
    }


    .news .swiper-slide
    {
        width: 330px;
    }


    .news .item .name
    {
        font-size: 18px;
    }


    .news .item .info.no_border
    {
        padding: 20px 16px 0;
    }



    /*------------------
        Compare info
    ------------------*/
    .compare_info .clear_btn
    {
        font-size: 12px;

        width: 180px;
        height: 48px;
    }


    .compare_info .product .features > *
    {
        padding: 28px 12px 12px;
    }


    .compare_info .product .features .label
    {
        padding: 0 12px;
    }



    /*-------------------------
        Photogallery brands
    -------------------------*/
    .photogallery_brands .row
    {
        margin-bottom: -24px;
        margin-left: -8px;
    }


    .photogallery_brands .row > *
    {
        width: calc(50% - 8px);
        margin-bottom: 24px;
        margin-left: 8px;
    }


    .photogallery_brands .brand .logo
    {
        height: 164px;
        padding: 11px;
    }


    .photogallery_brands .brand .name
    {
        font-size: 12px;
    }



    /*------------------
        Photogallery
    ------------------*/
    .photogallery .grid
    {
        margin-bottom: -24px;
        margin-left: -8px;
    }


    .content .photogallery .grid > *,
    .photogallery .content .grid > *
    {
        width: calc(50% - 8px);
        margin-bottom: 24px;
        margin-left: 8px;
    }


    .photogallery .item .thumb
    {
        height: 164px;
    }


    .photogallery .item .brand
    {
        font-size: 12px;
    }


    .photogallery .item .name
    {
        font-size: 12px;
        line-height: 18px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .sub_categories .row
    {
        gap: 6px;
    }



    /*------------
        Filter
    ------------*/
    #filter
    {
        width: 100%;
    }


    #filter .head
    {
        height: 82px;
        padding: 20px;
    }


    #filter .scroll_wrap
    {
        height: calc(100% - 82px);
    }


    #filter .scroll
    {
        padding-left: 0;
    }


    #filter .head .title
    {
        font-size: 24px;
    }


    #filter .form .submit
    {
        padding: 20px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .about,
    .contacts_info .city_info,
    .contacts_info .tab_content .col_right > .work_time,
    .contacts_info .feedback_btn
    {
        padding: 24px 20px;
    }


    .contacts_info .about .text_block,
    .contacts_info .feedback_btn
    {
        line-height: 20px;
    }


    .contacts_info .feedback_btn span
    {
        width: calc(100% - 80px);
    }


    .contacts_info .tab_content .row,
    .contacts_info .tab_content .col_right
    {
        gap: 16px;
    }


    .contacts_info .city_info
    {
        gap: 20px;
    }


    .contacts_info .images
    {
        margin-top: 16px;
    }



    /*--------------------
        Requisite info
    --------------------*/
    .requisite_info
    {
        width: 100%;
    }


    .requisite_info .head
    {
        height: 82px;
        padding: 20px;
    }


    .requisite_info .head .title
    {
        font-size: 24px;
    }


    .requisite_info .scroll_wrap
    {
        height: calc(100% - 82px);
        padding-right: 10px;
    }


    .requisite_info .scroll
    {
        padding-right: 10px;
        padding-left: 20px;
    }


    .requisite_info .item .label
    {
        font-size: 13px;

        width: calc(50% - 8px);
    }


    .requisite_info .item .val
    {
        font-size: 13px;

        width: calc(50% - 8px);
    }



    /*------------
        brands
    ------------*/
    .brands .brand
    {
        min-height: 135px;
        padding: 13px;
    }


    .brands .brand .name
    {
        font-size: 12px;
        line-height: 18px;
    }


    .brands .brand .country
    {
        font-size: 12px;
        line-height: 18px;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info .head .info .label
    {
        font-size: 18px;
    }


    .brand_info .head .col_right > *
    {
        width: 100%;
    }


    .brand_info .files .file
    {
        padding: 13px;
    }


    .brand_info .files .file .name
    {
        line-height: 18px;
    }


    .brand_info .files .file .btn
    {
        font-size: 12px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .delivery_methods
    {
        gap: 0;
    }


    .product_info .delivery_methods label div
    {
        font-size: 12px;
        line-height: 18px;

        padding: 12px;
    }


    .product_info .prices .vals
    {
        padding: 16px 8px 8px;
    }


    .product_info .prices .vals .label
    {
        font-size: 12px;
        line-height: 16px;
    }

    .product_info .prices .vals .val
    {
        font-size: 22px;
    }

    .product_info .prices .vals .old
    {
        font-size: 12px;
    }


    .product_info .wall_area .label
    {
        font-size: 16px;
    }


    .product_info .wall_area .label .exp
    {
        font-size: 12px;
        line-height: 16px;

        width: 112px;
    }


    .product_info .wall_area .field
    {
        width: 100px;
    }


    .product_info .wall_area .unit
    {
        width: 68px;
    }


    .product_info .features
    {
        font-size: 12px;
    }


    .product_info .exp
    {
        font-size: 12px;
        line-height: 18px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .features > *
    {
        line-height: 16px;

        padding: 10px 12px;
    }



    .product_data .channels
    {
        width: calc(100% + 24px);
        margin: 40px -12px 0;
        padding: 24px 12px;
    }


    .product_data .channels .stats .subscribers,
    .product_data .channels .stats .videos,
    .product_data .channels .stats .logo
    {
        font-size: 12px;

        width: 108px;
        height: 108px;
    }


    .product_data .channels .links a
    {
        width: 90px;
    }


    .product_data .channels .links .logo
    {
        width: auto;
        height: auto;
    }


    .product_data .gift_banner
    {
        width: calc(100% + 24px);
        margin: 40px -12px 0;
        padding: 24px 12px 233px;
    }


    .product_data .manager
    {
        padding: 9px;
    }



    /*---------------
        Buy steps
    ---------------*/
    .buy_steps .data
    {
        padding: 24px 0;
    }


    .buy_steps .item .desc
    {
        font-size: 12px;
        line-height: 18px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product + .product
    {
        margin-top: 20px;
    }


    .cart_info .product .name
    {
        font-size: 12px;
        line-height: 18px;

        padding-right: 0;
    }


    .cart_info .product .name a
    {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;

        -webkit-line-clamp: 2;
    }


    .cart_info .product .price .label
    {
        font-size: 12px;
        line-height: 18px;

        margin-bottom: 4px;
    }


    .cart_info .product .amount
    {
        width: 108px;
        margin-left: 20px;
    }


    .cart_info .product .amount .btn
    {
        left: 10px;
    }


    .cart_info .product .amount .btn.plus
    {
        right: 10px;
    }


    .cart_info .product .price.total
    {
        margin-left: auto;
    }


    .cart_info .product .delete_btn
    {
        top: 64px;
    }


    .cart_info .cart_total .total_price
    {
        font-size: 24px;

        width: 100%;
    }


    .cart_info .cart_total .download
    {
        margin-top: 16px;
    }


    .cart_info .additional
    {
        padding: 24px 20px;
    }


    .cart_info .additional .checkbox
    {
        font-size: 12px;
        line-height: 16px;
    }


    .cart_info .additional .exp
    {
        font-size: 12px;
    }



    /*--------------
        Products
    --------------*/
    .products .tabs .btn
    {
        height: 44px;
        padding: 8px 25px;
    }



    /*------------
        Footer
    ------------*/
    footer .phone .val
    {
        font-size: 32px;
    }



    /*----------------
        Mini modal
    ----------------*/
    .modal
    {
        padding: 40px 20px;
    }
}
