@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width_small: 220px;
        --sidebar_width_middle2: 280px;
        --sidebar_width_middle: 280px;
        --sidebar_width: 300px;
        --font_size_title_big: 48px;
        --font_size_title: 48px;
        --font_size_title_small: 40px;
    }



    .swiper-button-next,
    .swiper-button-prev
    {
        margin-bottom: 64px;
    }


    .swiper-button-prev
    {
        right: 72px;

        margin-right: 0;
    }

    .swiper-button-next
    {
        right: 0;

        margin-right: 0;
    }



    .block
    {
        margin-bottom: 160px;
    }

    .block.medium_m
    {
        margin-bottom: 140px;
    }

    .block.small_m
    {
        margin-bottom: 120px;
    }

    .block.small_m2
    {
        margin-bottom: 100px;
    }

    .block.small_m3
    {
        margin-bottom: 80px;
    }

    .block.small_m4,
    .block.smallest_m
    {
        margin-bottom: 60px;
    }



    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 48px);
    }

    .content_flex .content.small,
    .content_flex .content.big
    {
        width: calc(100% - var(--sidebar_width_small) - 48px);
    }

    .content_flex .content.middle
    {
        width: calc(100% - var(--sidebar_width_middle) - 48px);
    }

    .content_flex .content.middle2
    {
        width: calc(100% - var(--sidebar_width_middle2) - 48px);
    }



    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal
    {
        margin-top: 80px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 52px;
    }



    /*------------
        Header
    ------------*/
    header .catalog
    {
        width: 188px;
    }


    header .catalog .btn
    {
        height: 52px;
    }


    header .catalog .mini_modal
    {
        width: 1018px;
    }


    header .catalog .columns
    {
        column-gap: 48px;
    }


    header .all_site
    {
        width: 188px;
    }


    header .all_site .btn
    {
        height: 52px;
    }


    header .all_site .mini_modal
    {
        width: 335px;
    }


    header .all_site .links
    {
        font-size: 22px;

        padding: 6px 0 0;
    }


    header .all_site .phone
    {
        margin: 30px 0 0;
        padding-top: 30px;
    }


    header .all_site .phone a
    {
        font-size: 28px;
    }


    header .all_site .socials
    {
        padding: 0;
    }


    header .all_site .socials a
    {
        width: 54px;
        height: 54px;
    }


    header .all_site .feedback_btn
    {
        font-size: 14px;
        line-height: 120%;

        margin-top: 23px;
        padding: 24px 16px;
    }


    header .all_site .feedback_btn span
    {
        width: calc(100% - 68px);
    }


    header .all_site .feedback_btn .icon
    {
        width: 49px;
        height: 49px;
    }


    header .all_site .feedback_btn .icon svg
    {
        width: 18px;
        height: 18px;
    }


    header .contacts
    {
        margin-left: 24px;
    }


    header .search
    {
        margin-left: 24px;
    }


    header .favorite_link
    {
        margin-left: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head,
    .page_head.small_m
    {
        margin-bottom: 40px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 68px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .big
    {
        font-size: 20px;
    }


    .text_block h2
    {
        font-size: 32px;

        margin-top: 80px;
        margin-bottom: 28px;
    }


    .text_block ul.big_gap
    {
        gap: 24px;
    }


    .text_block ul li .big
    {
        font-size: 20px;
    }


    .text_block table td
    {
        padding: 11px 23px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section:after
    {
        width: 628px;
    }


    .first_section .img
    {
        width: calc(100% - 604px);
    }


    .first_section .head
    {
        width: calc(100% - 604px);
        padding-right: 120px;
        padding-bottom: 60px;
    }


    .first_section .head .title
    {
        font-size: 80px;
    }


    .first_section .bottom
    {
        width: calc(100% - 604px);
        padding: 120px 40px 40px 0;
    }


    .first_section .bottom .title
    {
        font-size: 28px;
    }


    .first_section .swiper-button-next,
    .first_section .swiper-button-prev
    {
        top: 96px;

        width: 56px;
        height: 56px;
    }


    .first_section .data .sticky
    {
        width: 628px;
    }


    .first_section .data .image
    {
        width: 480px;
        height: 380px;
    }


    .first_section .data .desc
    {
        font-size: 16px;
        line-height: 26px;

        width: 384px;
    }



    /*------------------
        Catalog grid
    ------------------*/
    .catalog_grid .category
    {
        height: 480px;
        padding: 24px;
    }


    .catalog_grid .category .name
    {
        font-size: 26px;
    }


    .catalog_grid .category .thumb
    {
        height: 240px;
    }


    .catalog_grid .category .count
    {
        font-size: 14px;

        bottom: 36px;
        left: 24px;

        width: calc(100% - 128px);
    }


    .catalog_grid .category .btn
    {
        margin-top: 40px;
    }


    .catalog_grid .sale_link
    {
        height: 260px;
        padding: 40px;
    }


    .catalog_grid .sale_link .title
    {
        font-size: 30px;

        width: 300px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head
    {
        width: 380px;
        padding-top: 40px;
    }


    .about_info .block_head .title
    {
        font-size: 60px;
    }


    .about_info .col_right
    {
        width: 320px;
    }


    .about_info .data
    {
        width: calc(100% - 780px);
    }


    .about_info .block_head .desc
    {
        font-size: 18px;

        margin-top: 40px;
    }


    .about_info .boss
    {
        height: 660px;
    }


    .about_info .boss .photo
    {
        object-position: 100% 0;
    }


    .about_info .boss .info
    {
        padding: 32px;
    }


    .about_info .boss .signature
    {
        top: 140px;
        left: 32px;
    }


    .about_info .link a
    {
        height: 60px;
    }


    .about_info .feedback_btn
    {
        font-size: 20px;
        line-height: 26px;

        width: 220px;
        height: 220px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .project
    {
        min-height: 320px;
        padding: 32px;
    }


    .projects .project .name
    {
        font-size: 30px;

        width: 260px;
    }


    .projects .project .desc
    {
        line-height: 23px;

        width: 260px;
    }


    .projects .project .btn
    {
        right: 32px;
        bottom: 32px;
    }



    /*---------------------
        Official dealer
    ---------------------*/
    .official_dealer .data
    {
        padding: 68px 0;
    }


    .official_dealer .col_left
    {
        width: calc(100% - 468px);
    }


    .official_dealer .info
    {
        width: 420px;
        padding: 40px;
    }


    .official_dealer .info .logo
    {
        height: 200px;
        margin-bottom: 40px;
    }


    .official_dealer .info .link
    {
        margin-top: 32px;
    }



    /*--------------------
        Channels block
    --------------------*/
    .channels_block .col_left
    {
        width: 340px;
        padding-top: 24px;
    }


    .channels_block .video_link
    {
        width: calc(100% - 780px);
        height: 600px;
    }


    .channels_block .col_right
    {
        width: 360px;
    }



    /*--------------
        Get free
    --------------*/
    .get_free .item
    {
        height: 380px;
        padding: 30px;
    }


    .get_free .item .title
    {
        font-size: 30px;

        width: 300px;
    }


    .get_free .callback_btn
    {
        height: 52px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .data
    {
        padding: 68px 24px;
    }


    .work_together .info
    {
        width: 312px;
    }


    .work_together .info .title
    {
        font-size: 64px;
    }


    .work_together .info .desc
    {
        font-size: 18px;
    }


    .work_together .items
    {
        width: 740px;
    }


    .work_together .item
    {
        height: 368px;
        padding: 24px;
    }


    .work_together .item .title
    {
        font-size: 22px;
    }


    .work_together .item3 .thumb
    {
        padding-top: 24px;
    }


    .work_together .item .icon
    {
        width: 68px;
        height: 68px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article
    {
        min-height: 440px;
        padding: 24px;
    }


    .articles .article .name
    {
        font-size: 22px;
    }


    .articles .article .date,
    .articles .article .btn
    {
        margin-top: 24px;
    }



    /*----------
        News
    ----------*/
    .news .row
    {
        margin-bottom: -32px;
        margin-left: -24px;
    }


    .news .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 32px;
        margin-left: 24px;
    }


    .news .item .info
    {
        padding: 20px 16px 16px;
    }

    .news .item .info.no_border
    {
        padding: 20px 24px 0;
    }



    /*--------------------
        News item info
    --------------------*/
    .news_item_info
    {
        padding: 40px;
    }



    /*-------------------------
        Photogallery brands
    -------------------------*/
    .photogallery_brands .brand .logo
    {
        height: 200px;
    }



    /*------------------
        Photogallery
    ------------------*/
    .photogallery .item .thumb
    {
        height: 220px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .data
    {
        width: calc(100% - 428px);
        padding-right: 48px;
    }


    .cart_info .checkout
    {
        width: 380px;
    }



    /*--------------
        Checkout
    --------------*/
    .checkout .title
    {
        font-size: 28px;
    }


    .checkout .desc
    {
        line-height: 23px;

        margin-top: 24px;
    }


    .checkout .form
    {
        margin-top: 32px;
    }



    /*------------------------
        Categories catalog
    ------------------------*/
    .categories_catalog .row
    {
        margin-bottom: -40px;
        margin-left: -40px;
    }


    .categories_catalog .row > *
    {
        width: calc(25% - 40px);
        margin-bottom: 40px;
        margin-left: 40px;
    }


    .categories_catalog .category .main
    {
        font-size: 22px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        margin-bottom: 40px;
    }



    /*--------------
        Products
    --------------*/
    .products .grid
    {
        margin-bottom: -24px;
        margin-left: -24px;

        --count: 3;
    }


    .products .grid > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .about
    {
        padding: 48px;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info .head .info,
    .brand_info .main_data .data
    {
        width: calc(100% - var(--sidebar_width) - 48px);
    }



    .brand_info .files .title
    {
        font-size: 22px;

        margin-bottom: 28px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        gap: 24px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .block_title
    {
        font-size: 28px;

        margin-bottom: 28px;
    }



    .product_data .channels
    {
        margin-top: 60px;
        padding: 48px;
    }


    .product_data .gift_banner
    {
        margin-top: 60px;
    }


    .product_data .manager .name
    {
        font-size: 22px;
    }



    /*---------------
        Buy steps
    ---------------*/
    .buy_steps .data
    {
        padding: 68px 0;
    }


    .buy_steps .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .buy_steps .row > *
    {
        width: calc(20% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .buy_steps .item .name
    {
        font-size: 16px;
        line-height: 24px;
    }


    .buy_steps .ya_widget
    {
        margin-top: -52px;
        padding: 20px;
    }



    /*----------------
        About page
    ----------------*/
    .about_page
    {
        margin-bottom: 400px;
    }



    .about_page .bg_img
    {
        width: 628px;
    }


    .about_page .head
    {
        margin-bottom: 140px;
    }


    .about_page .head .title
    {
        font-size: 64px;

        margin-bottom: 48px;
    }


    .about_page .head .feedback_btn
    {
        font-size: 22px;
        line-height: 28px;

        width: 260px;
        height: 260px;
        padding: 24px;
    }



    .about_page .commercial_developers .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .about_page .commercial_developers .row > *
    {
        width: calc(50% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .about_page .commercial_developers .item
    {
        padding: 40px;
    }


    .about_page .commercial_developers .item .name
    {
        font-size: 32px;
        line-height: calc(100% + 8px);
    }



    .about_page .private_buyers
    {
        margin-bottom: 140px;
    }


    .about_page .private_buyers .col_left
    {
        width: calc(50% - 16px);
        padding: 48px;
    }


    .about_page .private_buyers .col_right
    {
        width: calc(50% - 24px);
    }


    .about_page .private_buyers .item
    {
        padding-bottom: 23px;
    }


    .about_page .private_buyers .item + .item
    {
        margin-top: 40px;
    }


    .about_page .private_buyers .item .name
    {
        font-size: 24px;

        min-height: 32px;
    }


    .about_page .private_buyers .item .desc
    {
        margin-top: 20px;
    }



    .about_page .images .swiper-button-prev
    {
        left: 24px;
    }

    .about_page .images .swiper-button-next
    {
        right: 24px;
    }



    .about_page .mission .data
    {
        width: 480px;
        height: 480px;
        padding: 68px 68px 100px;
    }


    .about_page .mission .image
    {
        width: 480px;
        height: 480px;
    }



    .about_page .history
    {
        margin-bottom: 140px;
    }


    .about_page .history .sep
    {
        margin-bottom: -32px;
    }


    .about_page .history .year
    {
        font-size: 260px;
    }


    .about_page .history .desc
    {
        font-size: 22px;

        width: 440px;
    }



    .about_page .bottom
    {
        margin-bottom: -260px;
    }


    .about_page .bottom .video_link
    {
        width: calc(50% - 12px);
    }


    .about_page .bottom .video_link .btn
    {
        padding: 12px 24px 12px 12px;
    }


    .about_page .bottom .video_link .btn .icon
    {
        width: 60px;
        height: 60px;
    }


    .about_page .bottom .channels
    {
        width: calc(50% - 12px);
        padding: 40px;
    }


    .about_page .bottom .channels .pre_title
    {
        font-size: 18px;

        margin-bottom: 8px;
    }


    .about_page .bottom .channels .stats
    {
        margin-top: 60px;
    }


    .about_page .bottom .channels .links
    {
        margin-top: 120px;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .item .name
    {
        font-size: 24px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .item .logo
    {
        height: 158px;
    }



    /*-------------
        Letters
    -------------*/
    .letters .block_head .desc
    {
        width: calc(50% - 12px);
    }


    .letters .grid
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }


    .letters .grid > *
    {
        width: calc(25% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        padding: 72px 0 40px;
    }



    footer .all_country
    {
        margin-left: 100px;
    }


    footer .phone
    {
        margin-left: 120px;
    }



    footer .phone .val
    {
        font-size: 48px;
    }


    footer .menu
    {
        font-size: 18px;

        gap: 8px;
    }


    footer .privacy_policy_link
    {
        margin-left: 52px;
    }


    footer .creator
    {
        width: 516px;
    }
}
