@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 13px;
        --font_size_title_big: 48px;
        --font_size_title: 42px;
        --font_size_title_small: 32px;
    }



    .block,
    .block.medium_m,
    .block.small_m,
    .block.small_m2,
    .block.small_m3
    {
        margin-bottom: 80px;
    }


    .cont,
    .cont.big
    {
        padding: 0 20px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        width: 32px;
        height: 28px;

        border-radius: 10px;
    }


    .swiper-button-next .icon,
    .swiper-button-prev .icon
    {
        width: 16px;
        height: 16px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__content > .f-button.is-close-btn,
    .is-compact .fancybox__content > .f-button.is-close-btn
    {
        top: 12px;
        right: 12px;
    }


    .fancybox__slide
    {
        padding: 20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 44px;

        gap: 4px;
    }


    .pagination a.mob_hide
    {
        display: none;
    }


    .pagination a,
    .pagination .sep
    {
        font-size: 13px;

        width: 32px;
        height: 28px;

        border-radius: 12px;
    }


    .pagination .prev
    {
        margin-right: 8px;
    }

    .pagination .next
    {
        margin-left: 8px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 30px 0 14px;
    }


    header .logo img
    {
        height: 44px;
    }


    header .catalog
    {
        order: 2;

        width: 100%;
        margin-top: 16px;
        margin-left: 0;
    }

    header .catalog .btn
    {
        height: 45px;
    }


    header .catalog .mini_modal
    {
        left: 0;

        width: 100%;
        padding: 10px;
    }


    header .catalog .main a
    {
        font-size: 16px;

        padding: 12px 16px;
    }


    header .catalog .columns
    {
        display: flex;
        flex-direction: column;

        column-gap: 0;
        column-count: 1;
    }


    header .all_site
    {
        width: calc(100% - 195px);
        margin-left: auto;
    }

    header .all_site .btn
    {
        height: 45px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 32px;
        padding-top: 14px;
    }

    .page_head.small_m
    {
        margin-bottom: 32px;
    }


    .breadcrumbs a ~ *,
    .breadcrumbs .sep
    {
        display: none;
    }

    .breadcrumbs a:first-child + .sep,
    .breadcrumbs .current
    {
        display: block;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        line-height: 155%;
    }


    .text_block .big
    {
        margin-bottom: 20px;
    }


    .text_block h3
    {
        font-size: 18px;

        margin-top: 24px;
    }


    .text_block img
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-top: 24px;
        margin-right: -20px;
        margin-bottom: 24px;
        margin-left: -20px;
    }


    .text_block .table_wrap
    {
        margin-top: 24px;
        margin-bottom: 24px;
    }


    .text_block table td
    {
        padding: 11px 14px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head,
    .block_head.small_m
    {
        margin-bottom: 40px;
    }


    .block_head .title.big
    {
        font-size: var(--font_size_title);
        line-height: 100%;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .input
    {
        height: 54px;
        padding: 0 21px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .head .title
    {
        font-size: 56px;
    }


    .first_section .bottom .title
    {
        font-size: 24px;

        width: 100%;
        margin-bottom: 20px;
    }


    .first_section .bottom .title br
    {
        display: none;
    }


    .first_section .swiper
    {
        width: 100%;
    }


    .first_section .swiper-button-next,
    .first_section .swiper-button-prev
    {
        display: none;
    }


    .first_section .swiper-horizontal > .swiper-pagination-bullets,
    .first_section .swiper-pagination-bullets.swiper-pagination-horizontal,
    .first_section .swiper-pagination-custom,
    .first_section .swiper-pagination-fraction
    {
        top: auto;
        bottom: -24px;
        left: 0;

        justify-content: center;

        width: 100%;
    }


    .first_section .data .search .tips
    {
        margin-top: 24px;

        gap: 6px;
    }


    .first_section .data .search .tips a
    {
        font-size: 13px;
    }


    .first_section .data .image
    {
        width: 100%;
        height: 320px;
    }



    /*------------------
        Catalog grid
    ------------------*/
    .catalog_grid .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 40px);
        margin: 0 -20px;
        padding: 0 20px;

        white-space: nowrap;

        scroll-padding: 0 20px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .catalog_grid .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .catalog_grid .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .catalog_grid .row > *
    {
        display: inline-block;

        width: 315px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;

        scroll-snap-align: start;
    }


    .catalog_grid .row > * + *
    {
        margin-left: 4px;
    }


    .catalog_grid .category
    {
        height: 400px;
        padding: 20px;
    }


    .catalog_grid .category .name
    {
        font-size: 18px;

        padding-right: 64px;
    }


    .catalog_grid .category .thumb
    {
        height: 240px;
        margin-top: 40px;
    }


    .catalog_grid .category .btn
    {
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: auto;

        width: 50px;
        height: 35px;
        margin: 0;
    }


    .catalog_grid .category .count
    {
        bottom: 20px;
        left: 20px;

        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }


    .catalog_grid .sale_link .title
    {
        font-size: 24px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .block_head
    {
        margin-bottom: 32px;
    }


    .about_info .block_head .desc
    {
        margin-top: 24px;
    }


    .about_info .data
    {
        width: 100%;
    }


    .about_info .boss
    {
        height: 580px;
    }


    .about_info .col_right
    {
        width: 100%;
        margin-top: 20px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .swiper-button-next,
    .projects .swiper-button-prev
    {
        display: none;
    }


    .projects .swiper-slide
    {
        width: 330px;
    }

    .projects .project .desc
    {
        width: 160px;
    }



    /*---------------------
        Official dealer
    ---------------------*/
    .official_dealer .data
    {
        padding: 40px 0 24px;
    }


    .official_dealer .tabs
    {
        margin-bottom: 32px;
    }


    .official_dealer .logos .row
    {
        margin-bottom: -8px;
        margin-left: -8px;
    }


    .official_dealer .logos .row > *
    {
        width: calc(25% - 8px);
        margin-bottom: 8px;
        margin-left: 8px;
    }



    /*--------------------
        Channels block
    --------------------*/
    .channels_block .col_left
    {
        width: 100%;
    }


    .channels_block .col_left .block_head
    {
        text-align: center;
    }


    .channels_block .stats
    {
        justify-content: center;
    }


    .channels_block .links
    {
        margin-top: 32px;
        margin-right: auto;
    }


    .channels_block .video_link
    {
        width: 100%;
        height: 420px;
        margin-top: 40px;
    }



    /*--------------
        Get free
    --------------*/
    .get_free .item
    {
        padding: 24px 20px 20px 20px;
    }


    .get_free .item .desc
    {
        line-height: 155%;

        width: 260px;
        padding-top: 24px;
    }



    /*-------------------
        Work together
    -------------------*/
    .work_together .data
    {
        padding: 40px 8px 16px;
    }


    .work_together .info
    {
        margin-bottom: 40px;
    }


    .work_together .info .title
    {
        font-size: 44px;
    }


    .work_together .items
    {
        flex-wrap: wrap;

        gap: 10px;
    }


    .work_together .item
    {
        height: 263px;
        padding: 22px;
    }


    .work_together .item .title
    {
        font-size: 22px;

        width: 240px;
        max-width: 100%;
    }


    .work_together .item .desc
    {
        font-size: 13px;
        line-height: 140%;

        width: 240px;
        max-width: 100%;
    }


    .work_together .item .icon
    {
        width: 72px;
        height: 72px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-bottom: -10px;
        margin-left: 0;
    }


    .articles .row > *
    {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
    }


    .articles .article
    {
        min-height: 335px;
        padding: 20px;
    }


    .articles .article .name
    {
        font-size: 18px;
    }


    .articles .article .desc
    {
        margin-top: 14px;

        -webkit-line-clamp: 4;
    }


    .articles .article .date
    {
        font-size: 12px;
    }


    .articles .article .btn
    {
        width: 59px;
        height: 34px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head
    {
        min-height: 391px;
        padding: 40px 20px 30px;
    }


    .article_info .head .date
    {
        font-size: 12px;
    }


    .article_info .head .title
    {
        font-size: var(--font_size_title_small);
    }


    .article_info .data
    {
        padding: 24px 10px;
    }



    /*-----------
        Share
    -----------*/
    .share
    {
        padding: 10px 20px;
    }


    .share .label
    {
        font-size: 12px;
        line-height: 18px;
    }


    .share .items
    {
        gap: 16px;
    }


    .share .items .icon
    {
        width: 20px;
        height: 20px;
    }



    /*----------
        News
    ----------*/
    .news .row
    {
        margin-left: 0;
    }


    .news .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .news .item .name
    {
        margin-bottom: 10px;
    }


    .news .item .date
    {
        font-size: 13px;
    }


    .news .item .sep,
    .news .item .views
    {
        display: none;
    }


    .news .item .btn
    {
        width: 50px;
        height: 35px;
    }


    .news .list
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }


    .news .list > *
    {
        width: calc(50% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .news .list .item .name
    {
        font-size: 14px;
    }



    /*--------------------
        News item info
    --------------------*/
    .news_item_info
    {
        width: calc(100% + 24px);
        margin-right: -12px;
        margin-left: -12px;
        padding: 24px 20px;
    }


    .news_item_info .title
    {
        margin-bottom: 24px;
    }



    /*------------------
        Compare info
    ------------------*/
    .compare_info aside
    {
        width: 100%;
        margin-bottom: 40px;
    }


    .compare_info .feature_labels
    {
        display: none;
    }


    .compare_info .clear_btn
    {
        font-size: 13px;
    }


    .compare_info.content_flex .content
    {
        width: calc(100% + 24px);
        max-width: calc(100% + 24px);
        margin-right: -12px;
        margin-left: -12px;
    }


    .compare_info .product .features
    {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }


    .compare_info .product .features > *
    {
        font-size: 12px;

        padding: 28px 16px 12px;

        color: #000;
    }


    .compare_info .product .features .label
    {
        display: block;

        padding: 0 16px;
    }



    /*-------------------------
        Photogallery brands
    -------------------------*/
    .photogallery_brands .row > *
    {
        width: calc(50% - 20px);
    }


    .photogallery_brands .brand .name
    {
        font-size: 13px;
    }



    /*------------------
        Photogallery
    ------------------*/
    .content .photogallery .grid > *,
    .photogallery .content .grid > *
    {
        width: calc(50% - 20px);
    }


    .photogallery .item .thumb
    {
        height: 200px;
    }


    .photogallery .item .brand
    {
        font-size: 13px;
    }


    .photogallery .item .name
    {
        font-size: 13px;
        line-height: 19px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product
    {
        padding-top: 20px;
    }


    .cart_info .product .thumb
    {
        position: absolute;
        top: 20px;
        left: 0;

        width: 140px;
        height: 84px;
    }


    .cart_info .product .info
    {
        width: 100%;
    }


    .cart_info .product .name
    {
        font-size: 13px;
        line-height: 19px;

        min-height: 84px;
        padding-left: 160px;
    }


    .cart_info .product .amount .input
    {
        font-size: 16px;
    }


    .cart_info .product .delete_btn
    {
        top: 20px;
    }


    .cart_info .cart_total .total_price
    {
        font-size: 26px;
    }


    .cart_info .cart_total .total_price .exp
    {
        font-size: 13px;
        line-height: 19px;

        margin-top: 8px;
    }


    .cart_info .additional
    {
        margin-top: 32px;
        padding: 24px;
    }


    .cart_info .additional .exp
    {
        font-size: 13px;

        margin-top: 16px;
    }


    .cart_info .checkout
    {
        margin-top: 60px;
    }



    /*--------------
        Checkout
    --------------*/
    .checkout .desc
    {
        line-height: 19px;

        margin-top: 20px;
    }



    /*------------------------
        Categories catalog
    ------------------------*/
    .categories_catalog .row
    {
        margin-left: 0;
    }


    .categories_catalog .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .categories_catalog .sale_link
    {
        position: relative;

        height: 179px;
        padding: 22px;
    }


    .categories_catalog .sale_link .icon
    {
        position: absolute;
        top: 50%;
        right: 0;

        width: 360px;
        height: 360px;
        margin: 0;

        transform: translate(40%, -50%);
    }


    .categories_catalog .sale_link .title
    {
        font-size: 26px;
    }


    .categories_catalog .category .main
    {
        font-size: 18px;
    }


    .categories_catalog .category .main .name br
    {
        display: none;
    }


    .categories_catalog .category .sub a
    {
        padding: 10px 0;
    }


    .categories_catalog .category .items a
    {
        padding: 0;
    }



    /*---------------------
        Categories grid
    ---------------------*/
    .categories_grid .row
    {
        margin-bottom: -14px;
        margin-left: 0;
    }


    .categories_grid .row > *
    {
        width: 100%;
        margin-bottom: 14px;
        margin-left: 0;
    }


    .categories_grid .category .name
    {
        font-size: 16px;
        line-height: 135%;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 20px;
    }


    .category_info .sub_categories
    {
        margin-bottom: 20px;
    }


    .category_info .sub_categories a:not(.more_link)
    {
        font-size: 13px;

        padding: 6px 12px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head .sort
    {
        width: 100%;
        margin-top: 16px;
        margin-left: 0;
    }



    /*--------------
        Products
    --------------*/
    .products .grid
    {
        margin-left: 0;

        --count: 1;
    }


    .products .grid > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        gap: 20px;
    }


    .contacts_info .phone
    {
        margin-bottom: 0;
    }


    .contacts_info .email .label
    {
        font-size: 13px;

        margin-bottom: 8px;
    }


    .contacts_info .requisite_btn
    {
        font-size: 13px;

        width: 100%;
        margin-top: 16px;
    }


    .contacts_info .tab_content.active
    {
        margin-top: 40px;
    }


    .contacts_info .about .title
    {
        font-size: 24px;
        font-weight: 600;
    }


    .contacts_info .address .val,
    .contacts_info .work_time .val
    {
        font-size: 16px;
    }


    .contacts_info .feedback_btn .icon
    {
        width: 63px;
        height: 63px;
    }


    .contacts_info .feedback_btn .icon svg
    {
        width: 24px;
        height: 24px;
    }


    .contacts_info .images .image img
    {
        width: 150%;
        margin: 0 -25%;
    }



    /*------------
        brands
    ------------*/
    .brands .row
    {
        margin-bottom: -10px;
        margin-left: -10px;
    }


    .brands .row > *
    {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }


    .brands .brand
    {
        padding: 15px;
    }


    .brands .brand .name
    {
        font-size: 13px;
        line-height: 19px;
    }


    .brands .brand .country
    {
        font-size: 13px;
        line-height: 19px;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info .head .info .label
    {
        font-size: 20px;
    }


    .brand_info .files .title
    {
        font-size: 20px;

        margin-bottom: 24px;
    }


    .brand_info .files .file
    {
        padding: 15px;
    }


    .brand_info .files .file .name
    {
        line-height: 19px;
    }


    .brand_info .files .file .btn
    {
        font-size: 13px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        margin-bottom: 20px;

        gap: 20px;
    }


    .product_info .images .stickers
    {
        top: 10px;
        left: 10px;
    }


    .product_info .images .swiper-button-next,
    .product_info .images .swiper-button-prev
    {
        width: 47px;
        height: 35px;
    }


    .product_info .images .swiper-button-prev
    {
        left: 10px;
    }

    .product_info .images .swiper-button-next
    {
        right: 10px;
    }


    .product_info .data > .head
    {
        gap: 16px;
    }


    .product_info .brand
    {
        width: 100%;
    }


    .product_info .prices .vals > *
    {
        gap: 4px;
    }


    .product_info .wall_area .label
    {
        font-size: 18px;
    }


    .product_info .wall_area .label .exp
    {
        font-size: 13px;

        width: 120px;
        margin-top: 8px;
    }


    .product_info .wall_area .field
    {
        width: 140px;
        margin-left: 8px;
    }


    .product_info .wall_area .input
    {
        font-size: 13px;

        height: 54px;
        padding: 0 18px;
    }


    .product_info .wall_area .unit
    {
        width: 72px;
        margin-left: 8px;
    }


    .product_info .wall_area .nice-select .current
    {
        font-size: 13px;

        height: 54px;
        padding: 0 31px 0 18px;
    }


    .product_info .wall_area .arr
    {
        right: 12px;
    }


    .product_info .amount
    {
        width: 100%;
    }


    .product_info .buy_btn
    {
        width: 100%;
        height: 64px;
        margin-top: 10px;
        padding: 0 24px;
    }


    .product_info .calc_solution .head
    {
        height: 64px;
        padding: 8px 24px;
    }


    .product_info .calc_solution .info
    {
        padding: 0 24px 24px;
    }


    .product_info .calc_solution .buy_btn
    {
        justify-content: center;

        width: 100%;
        height: 64px;
        padding: 0 24px;

        gap: 12px;
    }


    .product_info .links
    {
        margin-top: 32px;
    }


    .product_info .exp
    {
        font-size: 13px;
        line-height: 19px;

        margin-top: 24px;

        gap: 6px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .block_title
    {
        font-size: 22px;
    }


    .product_data .channels .info
    {
        padding: 0;
    }


    .product_data .channels .title
    {
        font-size: 28px;
    }


    .product_data .channels .stats
    {
        width: 100%;
        margin-top: 24px;
    }


    .product_data .channels .links a
    {
        justify-content: center;

        width: 120px;
        padding: 8px 12px;
    }


    .product_data .channels .links .icon
    {
        display: none;
    }



    .product_data .gift_banner
    {
        padding-bottom: 233px;
    }


    .product_data .gift_banner .title
    {
        font-size: 28px;
    }


    .product_data .gift_banner .phone
    {
        padding-top: 32px;
    }


    .product_data .gift_banner .link
    {
        right: auto;
        left: 50%;

        width: 272px;

        transform: translateX(-50%);
    }


    .product_data .gift_banner .link a
    {
        font-size: 13px;

        padding: 8px 12px;
    }


    .product_data .gift_banner .image
    {
        top: auto;
        bottom: 0;

        width: 100%;
        max-width: 100%;
        height: 203px;

        border-radius: 80px 80px 0 0;
    }



    /*---------------
        Buy steps
    ---------------*/
    .buy_steps .row
    {
        margin-left: 0;
    }


    .buy_steps .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .buy_steps .item
    {
        position: relative;

        min-height: 56px;
        padding-left: 80px;
    }


    .buy_steps .item .icon
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 56px;
        height: 56px;
        margin: 0;
    }


    .buy_steps .item .desc
    {
        font-size: 13px;
        line-height: 19px;
    }



    /*----------------
        About page
    ----------------*/
    .about_page
    {
        margin-bottom: 260px;
    }



    .about_page .head
    {
        padding-top: 24px;
    }


    .about_page .head .title
    {
        font-size: 44px;
    }



    .about_page .commercial_developers .row
    {
        margin-left: 0;
    }


    .about_page .commercial_developers .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .about_page .commercial_developers .item .name
    {
        font-size: 22px;
    }


    .about_page .commercial_developers .item .desc
    {
        line-height: 20px;

        margin-top: 20px;
    }



    .about_page .private_buyers .col_left
    {
        padding: 24px;
    }


    .about_page .private_buyers .item .name
    {
        font-size: 18px;
    }


    .about_page .private_buyers .feedback_btn
    {
        width: 180px;
        height: 180px;
    }



    .about_page .images
    {
        width: calc(100% + 40px);
        margin: 0 -20px 60px;
    }


    .about_page .images .swiper-button-prev
    {
        left: 20px;
    }

    .about_page .images .swiper-button-next
    {
        right: 20px;
    }



    .about_page .mission .data
    {
        width: 400px;
        height: 400px;
    }


    .about_page .mission .image
    {
        width: 400px;
        height: 400px;
    }



    .about_page .history
    {
        margin-bottom: 60px;
    }


    .about_page .history .item + .item
    {
        margin-top: 40px;
    }


    .about_page .history .year
    {
        font-size: 140px;
    }


    .about_page .history .item.gold .year:before
    {
        margin-right: -12px;

        transform: scale(.5);
    }


    .about_page .history .item.gold .year:after
    {
        margin-left: -12px;

        transform: scale(-1, 1) scale(.5);
    }


    .about_page .history .desc
    {
        font-size: 16px;

        width: 300px;
        margin-top: -4px;
    }



    .about_page .bottom
    {
        margin-bottom: -180px;
    }


    .about_page .bottom .video_link
    {
        width: 100%;
        height: 320px;
        margin-bottom: 20px;
    }


    .about_page .bottom .channels
    {
        width: 100%;
    }


    .about_page .bottom .channels .title
    {
        font-size: var(--font_size_title_small);
        line-height: 100%;
    }


    .about_page .bottom .channels .links
    {
        margin-top: 40px;

        gap: 8px;
    }

    .about_page .bottom .channels .links a
    {
        width: 94px;
        padding: 8px;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .swiper-slide
    {
        width: 335px;
    }


    .benefits .item .name
    {
        font-size: 18px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .row > *
    {
        width: calc(25% - 12px);
    }


    .clients .item .logo
    {
        height: 98px;
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        padding: 60px 0 24px;
    }


    footer .bottom
    {
        padding: 8px 0 44px;
    }


    footer .all_country
    {
        margin-top: 20px;
        padding: 12px 20px;
    }


    footer .phone
    {
        margin-top: 32px;
    }


    footer .phone .val
    {
        font-size: 40px;
    }


    footer .privacy_policy_link
    {
        margin-top: 13px;
    }



    /*----------------
        Mini modal
    ----------------*/
    .modal
    {
        padding: 40px;
    }


    .modal_title
    {
        font-size: 28px;
    }


    .modal_desc
    {
        line-height: 155%;

        margin-top: 20px;
    }


    .modal .form
    {
        margin-top: 24px;
    }
}
